@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDripcafe";
}
<section class="home">
    <div class="pic-area">
        <div class="pic-area-text">
            <h2>Welcome to</h2>
            <h1 class="home__name">
                <span class="logo-first">Drip</span>
                <span class="logo-last">Cafe</span>
            </h1>
            <h3>Where coffee and comfort come together</h3>
            <a href="menu.html">
                <button class="btn-order">Order Now!</button>
            </a>
        </div>
    </div>
    <div class="main-area">
        <div class="section-area">
            <div class="section-A">
                <div class="box-text">
                    <h1>Who We Are</h1>
                    <p>
                        Our family at Drip Cafe has been providing the best coffee in
                        the city since it was founded by our grandfather, Carlos
                        Ramírez, in 1941. His patented coffee beans are crafted to
                        have the perfect ingredients, texture, and flavor. To continue
                        his legacy, we are dedicated to serve the city with our
                        grandfather's high quality coffee.
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/who-we-are.jpg" alt="Who We Are" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-B">
                <div class="box-text">
                    <h1>Our Services</h1>
                    <p>
                        We provide the best quality coffee, comfort, and respect to
                        all customers. We also have services ranging from hosting
                        events such as karaoke, birthday parties, and game nights, as
                        well as providing free 24/7 parking.
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/services.jpg" alt="Services" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-C">
                <div class="box-text">
                    <h1>Menu</h1>
                    <p>
                        Our menu is guaranteed to contain the morning coffee you need
                        to start your day. From our classic Caffè Americano to four
                        types of Roast or one of our Espressos, you will find
                        something to get the morning energy you need while enjoying
                        every sip.
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/menu.jpg" alt="Menu" />
                </div>
            </div>
        </div>
    </div>
