
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_LayoutDripcafe.cshtml";
}

<section class="menu">
    <div class="pic-area">
        <div class="pic-area-text">
            <h2>Limited Time Offer:</h2>
            <h1>20% Off Any Large Size Drink!</h1>
            <h3>Large size (16 fl oz)</h3>
        </div>
    </div>
    <div class="flex">
        <div class="box">
            <div class="img-container">
                <img src="../img/caffe-americano.jpg" alt="Caffè Americano" />
                <div class="box__btns">
                    <a href="#!" class="box__btn one__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn one__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Caffè Americano</h2>
            <h3>$2.10</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/caffe-misto.jpg" alt="Caffe Misto" />
                <div class="box__btns">
                    <a href="#!" class="box__btn two__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn two__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Caffè Misto</h2>
            <h3>$2.60</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/caffe-americano.jpg"
                     alt="Blonde Caffè Americano" />
                <div class="box__btns">
                    <a href="#!" class="box__btn three__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn three__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Blonde Caffè Americano</h2>
            <h3>$2.79</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/dark-roast-coffee.jpg" alt="Blonde Roast" />
                <div class="box__btns">
                    <a href="#!" class="box__btn four__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn four__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Blonde Roast</h2>
            <h3>$2.05</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/dark-roast-coffee.jpg" alt="Dark Roast Coffee" />
                <div class="box__btns">
                    <a href="#!" class="box__btn five__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn five__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Dark Roast Coffee</h2>
            <h3>$2.20</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/dark-roast-coffee.jpg" alt="Pike Place® Roast" />
                <div class="box__btns">
                    <a href="#!" class="box__btn six__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn six__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Pike Place® Roast</h2>
            <h3>$2.80</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/dark-roast-coffee.jpg"
                     alt="Decaf Pike Place® Roast" />
                <div class="box__btns">
                    <a href="#!" class="box__btn seven__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn seven__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Decaf Pike Place® Roast</h2>
            <h3>$2.25</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/cappuccino.jpg" alt="Cappuccino" />
                <div class="box__btns">
                    <a href="#!" class="box__btn eight__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn eight__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Cappuccino</h2>
            <h3>$2.59</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/cappuccino.jpg" alt="Blonde Cappuccino" />
                <div class="box__btns">
                    <a href="#!" class="box__btn nine__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn nine__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Blonde Cappuccino</h2>
            <h3>$2.34</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/espresso.jpg" alt="Espresso" />
                <div class="box__btns">
                    <a href="#!" class="box__btn ten__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn ten__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Espresso</h2>
            <h3>$2.89</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/espresso-macchiato.jpg"
                     alt="Espresso Macchiato" />
                <div class="box__btns">
                    <a href="#!" class="box__btn eleven__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn eleven__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Espresso Macchiato</h2>
            <h3>$2.18</h3>
        </div>
        <div class="box">
            <div class="img-container">
                <img src="../img/flat-white.jpg" alt="Flat White" />
                <div class="box__btns">
                    <a href="#!" class="box__btn twelve__view__openBtn">
                        View
                    </a>
                    <a href="#!" class="box__btn twelve__cart__button">
                        Add to Cart
                    </a>
                </div>
            </div>
            <h2>Flat White</h2>
            <h3>$2.75</h3>
        </div>
    </div>


